body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenMonth {
  font-size: 32px;
  margin: 5vh 51px;
  min-width: 160px;
  display: flex;
  justify-content: center;
}

.outputCalendar {
  display: flex;
}

.outputDay {
  border-bottom: none;
  border-left: none;
  padding: 5px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 12px;
}

.outputDate {
  text-align: center;
  color: rgb(56, 56, 56);
  font-size: 14;
}

.outputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 34px;
  padding: 8px 6px;
  border: 1px solid rgb(192, 192, 192);
}
.outputItem:not(:first-of-type) {
  border-left: none;
}

.weekend {
  background: #f0f0f0;
}

.month-changer {
  display: flex;
}

.arrow {
  background: #000;
  height: 2px;
  width: 9px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  top: 57px;
}

.arrow:before,
.arrow:after {
  content: "";
  background: #000;
  position: absolute;
  height: 2px;
  width: 7px;
}

.left-arrow:before {
  right: 4px;
  bottom: -2px;
  transform: rotate(45deg);
}

.left-arrow:after {
  right: 4px;
  top: -2px;
  transform: rotate(-45deg);
}

.right-arrow:before {
  right: -2px;
  bottom: -2px;
  transform: rotate(-45deg);
}

.right-arrow:after {
  right: -2px;
  top: -2px;
  transform: rotate(45deg);
}
